.cartParent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 80vh;
}

.cartParent h1 {
    font-size: 35px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.tableHead {
    color: white;
    background: #ff5f5f;
}