.brandCard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 210px;
    padding: 20px 15px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    color: #17242f;
    transition: 0.3s;
}

.brandCard:hover {
    box-shadow: 0 2px 16.8px 3.2px #011c304d;
}

.brandCard h1 {
    text-transform: capitalize;
}

.brandImg img {
    width: 100px;
}