.brandCon {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 20px;
    justify-content: center;
    padding: 25px 0;
    min-height: 500px;


}

.brandHead {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;

}

.brandHead h1 {
    text-align: center;
    color: rgb(5, 20, 56);
    position: relative;
    font-size: 60px;
    width: fit-content;
}

.brandHead h1::after {
    content: "";
    position: absolute;
    height: 4.5px;
    width: 61%;
    background-color: red;
    bottom: -13px;
    left: 0;
}