.cartBox {
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    padding: 22px;
}

.cartBox img {
    width: 70px;
}

.cartBtns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 26px;
}

.cartBtns button {
    color: white;
    width: 83px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 2px 0;
}

.cartBtns .buy {
    background-color: #00b150;

}

.cartBtns .delete {
    background-color: #fd3e48;
}

.valueBox {

    background: #d9d9d9;
    width: 37px;
    border: 1px solid;
    border-radius: 2px;
    width: 39px;
    padding: 0 5px;
}




@media screen and (max-width: 512px) {
    .cartBox {
        width: 100vw;
        padding: 22px 9px;
    }

    .cartBtns {
        gap: 9px;
    }
}

@media screen and (min-width: 512px) and (max-width: 720px) {
    .cartBox {
        width: 95vw;
    }

    .cartBtns {
        gap: 15px;
    }
}

@media screen and (min-width: 720px) and (max-width: 940px) {
    .cartBox {
        width: 700px;
    }
}