.main {
    width: 100vw;
    min-height: 500px;
    padding: 3px 0;
}

.productCon {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
}