.main {
    width: 100vw;
    min-height: 500px;
    padding: 3px 0;
}

.productCon {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
}


@media screen and (min-width: 400px) and (max-width: 800px) {
    .productCon {
        grid-template-columns: repeat(1, 360px);
    }
}

@media screen and (min-width: 800px) and (max-width: 1224px) {
    .productCon {
        grid-template-columns: repeat(2, 360px);
    }
}

