.main {
    width: 100vw;
    min-height: 500px;
    padding: 3px 0;
}

.productCon {
    display: grid;
    grid-template-columns: repeat(3, 360px);
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
}



@media screen and (max-width: 400px) {}

@media screen and (min-width: 401px) and (max-width: 720px) {}

@media screen and (min-width: 721px) and (max-width: 1280px) {}

@media screen and (min-width: 1281px) and (max-width: 1440px) {}

@media screen and (min-width: 400px) and (max-width: 1024px) {
    .productCon {
        grid-template-columns: repeat(2, 360px);
    }
}

@media screen and (min-width: 1921px) {}