.img img {
    width: 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 300px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    position: fixed;
    width: 100vw;
    background-color: white;

}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.navLinks {
    font-size: 20px;
    color: black;
    font-weight: 500;

}

.active {
    color: red;
    position: relative;
}

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5px;
    color: #ed1f29;

}


.dinoSection button {
    font-size: 20px;
    padding: 8px 18px;
    /* color: red; */
    background-color: #ed1f29;
    border-radius: 6px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 1px solid #ed1f2900;
    transition: 0.2s;

}

.dinoSection button:hover {
    background-color: #ed1f2900;
    border: 1px solid #ed1f29;
    cursor: pointer;
    color: #ed1f29;
}