.img img {
    width: 180px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 300px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    position: fixed;
    width: 100vw;
    background-color: white;
    z-index: 99;

}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}


.navLinks {
    font-size: 20px;
    color: black;
    font-weight: 500;

}

.active {
    color: red;
    position: relative;
}

.active::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1.5px;
    color: #ed1f29;

}


.dinoSection button {
    font-size: 20px;
    padding: 8px 18px;
    /* color: red; */
    background-color: #ed1f29;
    border-radius: 6px;
    color: white;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    border: 1px solid #ed1f2900;
    transition: 0.2s;

}

.dinoSection button:hover {
    background-color: #ed1f2900;
    border: 1px solid #ed1f29;
    cursor: pointer;
    color: #ed1f29;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.user img {
    width: 30px;
    height: 30px;
}

.user button {
    background: #ff2732;
    color: white;
    padding: 5px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    transition: 0.3s;
}

.user button:hover {
    background-color: transparent;
    border: 1px solid #ff2732;
    color: #ed1f29;
}

.menuBar {
    top: 80px;
    right: 40px;
    position: absolute;
    height: 250px;
    min-width: 200px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: column;
    border-radius: 24px;
    padding: 38px 13px;
    display: none;

}

.menuBar img {
    width: 30px;
    height: 30px;
    border-radius: 50%;


}

.heroNavLinksCon {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
}


.heroNavLinksCon .heroNavLinks {
    font-size: 17px;
}

.heroNavLinksCon button {
    background: #ff2732;
    color: white;
    padding: 4px 10px;
    border-radius: 6px;
    margin: 15px 0 0 0;
}

.heroUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.menuIcon {
    display: none;
    font-size: 30px;
}


@media screen and (max-width: 450px) {
    nav {
        padding: 16px 15px;
    }

    nav ul {
        display: none;
    }

    .dinoSection {
        display: none;
    }


    .img img {
        width: 145px;
    }

    .user {
        display: none;
    }


    .menuBar {
        display: flex;
    }

    .menuIcon {
        display: inline-block;
    }
}

@media screen and (min-width: 450px) and (max-width: 735px) {
    nav {
        padding: 16px 30px;
    }

    nav ul {
        display: none;
    }

    .dinoSection {
        display: none;
    }

    .user {
        display: none;
    }


    .menuBar {
        display: flex;
    }

    .menuIcon {
        display: inline-block;
    }
}

@media screen and (min-width: 735px) and (max-width: 1000px) {
    nav {
        padding: 16px 60px;
    }

    nav ul {
        display: none;
    }

    .dinoSection {
        display: none;
    }

    .user {
        display: none;
    }


    .menuBar {
        display: flex;
    }

    .menuIcon {
        display: inline-block;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1600px) {
    nav {
        padding: 16px 100px;
    }



}

@media screen and (min-width: 1921px) {}