.footerCon {
    padding: 56px 30px;
    background: #2a2b2e;
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 56px 0px;
    gap: 30px;
    color: white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.footericons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

}

.footericons div {
    font-size: 19px;
    background: white;
    color: black;
    padding: 13px;
    border-radius: 50%;
    cursor: pointer;
}

.footerLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-size: 20px;
}


@media screen and (max-width: 436px) {
    .footerCon {
        padding: 56px 0;
    }

    .footericons {
        gap: 12px;
    }

    .footerLinks {
        gap: 20px;
        flex-wrap: wrap;
    }

}

@media screen and (min-width: 436px) and (max-width: 600px) {
    .footerCon {
        padding: 56px 0;
    }

    .footerLinks {
        gap: 20px;
    }

}

@media screen and (min-width: 1921px) {}